<div class="brands">
  <h1 class="brands__title">تثق هذه الشركات والمزيد في Mohandisy</h1>
  <p class="brands__para">
    لتعزيز رضا العملاء وسهولة الوصول اليهم وزيادة الإنتاجية والمبيعات.
  </p>
  <div class="brands__logos">
    <img src="../../../../../assets/images/home/brandImg-1.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-2.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-3.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-4.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-5.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-6.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-7.png" alt="" />
    <img src="../../../../../assets/images/home/brandImg-8.png" alt="" />
  </div>
</div>
