<div class="container">
  <div class="sprovider">
    <div class="sprovider__logo">
      <label class="sprovider__label">مكتب هندسي</label>
      <img
        src="../../../../../assets/images/home/brandImg-8-profile.png"
        alt=""
      />
    </div>
    <div class="sprovider__content">
      <h2 class="sprovider__name">شركة إعمار للتشييد والبناء</h2>
      <p class="sprovider__para">
        مؤسسه للخدمات الزراعيه واعمال الاندسكيب متخصصه بتصميم وتنفيذ وصيانه
        الحدائق والمنتزهات..
      </p>
      <div class="sprovider__detail">
        <img src="../../../../assets/images/home/locationIcon.png" alt="" />
        <p>4051 طريق أنس ابن مالك، حي النرجس، الرياض 13324 8735، السعودية.</p>
      </div>
      <div class="sprovider__detail">
        <img src="../../../../assets/images/home/spGenreIcon.png" alt="" />
        <p>إستشارات هندسية, تصميم داخلى.</p>
      </div>
      <div class="sprovider__detail">
        <img
          src="../../../../../assets/images/home/programming-arrows.png"
          alt=""
        />
        <p>مقاول كهرباء, مقاول ميكانيكا, مقاول مقاومة حريق.</p>
      </div>
      <div class="sprovider__detail">
        <p>تقييم الشركة:</p>
        <img src="../../../../assets/images/home/stars.png" alt="" />
      </div>
    </div>
  </div>
</div>
