<div class="goals">
  <div class="container goals__wrapper">
    <img class="goals__img" src="../../../../../assets/goalsImg.png" alt="" />
    <ul class="goals__list">
      <h1 class="goals__list__title">الأهداف</h1>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>
          فتح أسواق العمل للشركات و المكاتب على مستوى المملكة والوطن العربى.
        </p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>الاهتمام بفتح تخصصات هندسية أخرى مُرتبطة بحاجة سوق العمل.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>تسهيل البحث عن المتطلبات بشكل كامل في دورة المشروع.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>تسهيل الوصول لمقدم خدمات البناء والمقاولات وموردي مواد البناء.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>جذب العملاء وتسهيل التواصل بين العميل النهائى ومقدمى الخدمات.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>تعزيز العلاقات والشراكات الاستراتيجية بين الجهات المختلفة.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>الإسهام في خدمة المجتمع وتوجيه مساره نحو الأفضل.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>توطين الخدمات الهندسية التقنية بما يخدم الاقتصاد الوطنى.</p>
      </li>
      <li>
        <img
          src="../../../../../assets/goalsLeftArrow.png"
          alt=""
          class="goals__list__icon"
        />
        <p>توفير خدمات تقنية عالية الجودة وتضيف قيمة ملموسة من قبل العملاء.</p>
      </li>
    </ul>
  </div>
</div>
