$mainColor: #004057;
$green: #18af9a;
// $mainColor: #f6c513;
$secColor: #68d2dd;
$blue: #293eb7;
$Color: #1f283e;
$red: #f2564b;
// 19525b
$title: #161d24;

//mediaqueries
$maxMobile: 767px;
$minMedium: 992px;
$minSmall: 768px;
$mediumMedia: 1000px;
