<app-navbar></app-navbar>
<app-header></app-header>
<div class="container">
  <form class="sp-search" (ngSubmit)="search()" [formGroup]="searchForm">
    <select
      name="enumfilter"
      id="enumfilter"
      formControlName="enumfilter"
      class="sp-search__input"
    >
      <option value="0" selected>الكل</option>
      <option value="1">شركة</option>
      <option value="2">مقاول</option>
    </select>
    <select
      name="city"
      id="city"
      formControlName="city"
      class="sp-search__input"
    >
      <option value="" selected hidden disabled>البلد</option>
      <option value="مصر">مصر</option>
      <option value="السعودية">السعودية</option>
    </select>
    <select
      name="district"
      id="district"
      formControlName="district"
      class="sp-search__input"
    >
      <option value="" selected hidden disabled>المنطقة</option>
      <option value="القاهرة">القاهرة</option>
    </select>

    <button type="submit" class="solidBtn--2">بحث</button>
  </form>
  <h1 class="sp-heading">تصفح وقم باختيار مزودى الخدمات لإرسال طلب تسعيرة</h1>
  <div class="sp-cards">
    <app-sprovider-card
      *ngFor="let provider of sproviders"
      name="شركة إعمار للتشييد والبناء"
      cover="../../../../assets/brandImg-lg-6.png"
      logo="../../../../assets/brandImg-sm-6.png"
      label="مقاول"
      para="مؤسسه للخدمات الزراعيه واعمال الاندسكيب متخصصه بتصميم وتنفيذ وصيانه الحدائق والمنتزهات.."
      location="السعودية, الرياض"
      genre="إستشارات هندسية, تصميم داخلى"
      industry="مقاول كهرباء, مقاول ميكانيكا, مقاول مقاومة حر..."
      [navigateTo]="'/home/serviceProviders/2'"
    ></app-sprovider-card>
    <app-sprovider-card
      name="شركة إعمار للتشييد والبناء"
      cover="../../../../assets/brandImg-lg-6.png"
      logo="../../../../assets/brandImg-sm-6.png"
      label="مقاول"
      para="مؤسسه للخدمات الزراعيه واعمال الاندسكيب متخصصه بتصميم وتنفيذ وصيانه الحدائق والمنتزهات.."
      location="السعودية, الرياض"
      genre="إستشارات هندسية, تصميم داخلى"
      industry="مقاول كهرباء, مقاول ميكانيكا, مقاول مقاومة حر..."
      [navigateTo]="'/home/serviceProviders/2'"
    ></app-sprovider-card
    ><app-sprovider-card
      name="شركة إعمار للتشييد والبناء"
      cover="../../../../assets/brandImg-lg-6.png"
      logo="../../../../assets/brandImg-sm-6.png"
      label="مقاول"
      para="مؤسسه للخدمات الزراعيه واعمال الاندسكيب متخصصه بتصميم وتنفيذ وصيانه الحدائق والمنتزهات.."
      location="السعودية, الرياض"
      genre="إستشارات هندسية, تصميم داخلى"
      industry="مقاول كهرباء, مقاول ميكانيكا, مقاول مقاومة حر..."
      [navigateTo]="'/home/serviceProviders/2'"
    ></app-sprovider-card
    ><app-sprovider-card
      name="شركة إعمار للتشييد والبناء"
      cover="../../../../assets/brandImg-lg-6.png"
      logo="../../../../assets/brandImg-sm-6.png"
      label="مقاول"
      para="مؤسسه للخدمات الزراعيه واعمال الاندسكيب متخصصه بتصميم وتنفيذ وصيانه الحدائق والمنتزهات.."
      location="السعودية, الرياض"
      genre="إستشارات هندسية, تصميم داخلى"
      industry="مقاول كهرباء, مقاول ميكانيكا, مقاول مقاومة حر..."
      [navigateTo]="'/home/serviceProviders/2'"
    ></app-sprovider-card>
  </div>
</div>
<app-footer></app-footer>
