<div class="container">
  <div class="expereince">
    <div class="expereince__content">
      <h1 class="expereince__title">15 عاماَ من الخبرة</h1>
      <p class="expereince__para">
        كانت شركتنا رائدة في خدمات البناء المقدمة للعملاء في جميع أنحاء المملكة
        العربية السعودية منذ عام 2007.
      </p>
      <button class="solidBtn">تواصل معنا</button>
    </div>
    <div class="expereince__cards">
      <div class="expereince__card">
        <img
          src="../../../../../assets/images/home/expereinceIcon-1.png"
          alt=""
          class="expereince__card__icon"
        />
        <span class="expereince__card__number">84</span>
        <span class="expereince__card__descrp">عميل يثق بنا.</span>
      </div>
      <div class="expereince__card">
        <img
          src="../../../../../assets/images/home/expereinceIcon-2.png"
          alt=""
          class="expereince__card__icon"
        />
        <span class="expereince__card__number">123</span>
        <span class="expereince__card__descrp">مشروع سابق.</span>
      </div>
      <div class="expereince__card">
        <img
          src="../../../../../assets/images/home/expereinceIcon-3.png"
          alt=""
          class="expereince__card__icon"
        />
        <span class="expereince__card__number">37</span>
        <span class="expereince__card__descrp">جائزة حصلنا عليها.</span>
      </div>
      <div class="expereince__card">
        <img
          src="../../../../../assets/images/home/expereinceIcon-4.png"
          alt=""
          class="expereince__card__icon"
        />
        <span class="expereince__card__number">30</span>
        <span class="expereince__card__descrp">عاماَ من الخبرة.</span>
      </div>
    </div>
  </div>
</div>
