<div class="container">
  <div class="vision-cards">
    <div class="vision-card">
      <img
        class="vision-card__img"
        src="../../../../../assets/visionImg-1.png"
        alt=""
      />
      <h1 class="vision-card__title">الرؤية</h1>
      <p class="vision-card__para">
        رؤية منصة مهندسى في أن تصبح المنصة السعودية الأولى والرائدة في مجال
        تقديم حلول تقنية مبتكرة وتطوير السوق الهندسى الحالى والمستقبلى من خلال
        ربط مجال البناء والمقاولات بتكنولوجيا المعلومات.
      </p>
    </div>
    <div class="vision-card">
      <img
        class="vision-card__img"
        src="../../../../../assets/visionImg-2.png"
        alt=""
      />
      <h1 class="vision-card__title">الرسالة</h1>
      <p class="vision-card__para">
        تقديم افضل الخدمات الهندسية بشكل مميز واحترافي وذلك من خلال توفير أحدث
        التقنيات الهندسية ومعايير التميز والسعي نحو تخطى التوقعات لعملائنا
        ويتحقق هذا من خلال ما تمتلكه منصة مهندسى من مهندسين وشركات هندسية
        وموردون ذوى الثقة والكفاءة.
      </p>
    </div>
  </div>
</div>
