@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
.cairo {
  font-family: "cairo";
}
body {
  font-family: "cairo";
}
html {
  scrollbar-color: #18af9a #2c5364;
  scrollbar-width: thin;

  scrollbar-thumb {
    border-radius: 50px;
  }
}

@import "./styles/home.scss";
@import "./styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
